<section class="bg-white mb-1 shadow relative">
  <div class="swiper-container w-full mx-auto overflow-hidden">
    <!-- Hide overflow here -->
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide">
        <img
          src="../../assets/images/banner-phong-kham-da-khoa.png"
          alt="Image 1"
          class="w-full h-auto object-cover rounded-lg"
        />
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide">
        <img
          src="../../assets/images/banner-phong-kham-da-khoa-1.png"
          alt="Image 2"
          class="w-full h-auto object-cover rounded-lg"
        />
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide">
        <img
          src="../../assets/images/banner-phong-kham-da-khoa-2.png"
          alt="Image 3"
          class="w-full h-auto object-cover rounded-lg"
        />
      </div>
    </div>

    <!-- Pagination -->
    <div
      class="swiper-pagination absolute bottom-6 left-0 right-0 flex justify-center space-x-2"
    ></div>

    <!-- Navigation buttons -->
    <div
      class="swiper-button-next text-white text-xl absolute top-1/2 transform -translate-y-1/2 right-6 rounded-full p-2 opacity-70 hover:opacity-100 transition-all z-10"
    ></div>
    <div
      class="swiper-button-prev text-white text-xl absolute top-1/2 transform -translate-y-1/2 left-6 rounded-full p-2 opacity-70 hover:opacity-100 transition-all z-10"
    ></div>
  </div>
</section>
