<!-- nút đặt lịch -->
<section>
  <div
    class="fixed bottom-8 -right-20 md:-right-20 transform -translate-x-1/2 z-50"
  >
    <button
      id="btn-dang-ky"
      class="bg-[#3FC482] hover:bg-[#35a870] text-white font-semibold rounded-full flex items-center justify-center gap-x-2 px-6 py-3 sm:px-8 sm:py-3.5 w-full transition-all duration-300 shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[#35a870] focus:ring-offset-2"
      type="button"
      aria-controls="popup"
      aria-expanded="false"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5 sm:h-6 sm:w-6"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5"
        />
      </svg>
      <span>Đăng ký tư vấn</span>
    </button>
  </div>
</section>

<!-- Modal popup -->
<div id="popup" class="hidden fixed inset-0 z-[100]">
  <div class="absolute inset-0 bg-black/50"></div>
  <div
    class="relative mx-auto mt-24 w-[95%] max-w-2xl rounded-lg bg-white shadow-xl"
  >
    <button
      id="close-popup"
      type="button"
      class="absolute right-3 top-3 text-gray-500 hover:text-red-500 text-2xl leading-none"
      aria-label="Đóng"
    >
      &times;
    </button>
    <div id="popup-content" class="p-4">
      <!-- Form  -->
    </div>
  </div>
</div>

<div class="fixed bottom-32 right-10 flex flex-col space-y-3 z-50">
  <!-- Zalo Button -->
  <a
    href="https://zalo.me/0989861548"
    target="_blank"
    rel="noopener noreferrer"
    class="w-12 h-12 flex items-center justify-center bg-white rounded-full shadow-lg hover:scale-110 transition-transform"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/1024px-Icon_of_Zalo.svg.png"
      alt="Zalo"
      class="w-8 h-8"
    />
  </a>

  <!-- Facebook Button -->
  <a
    href="https://www.facebook.com/profile.php?id=100045759542134"
    target="_blank"
    rel="noopener noreferrer"
    class="w-12 h-12 flex items-center justify-center bg-white rounded-full shadow-lg hover:scale-110 transition-transform"
  >
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqnDKAcwAqjwk8Yspu3n73kcXZEbZMBLTU0g&s"
      alt="Facebook"
      class="w-8 h-8"
    />
  </a>

  <!-- Call Button -->
  <a
    href="tel:0989861548"
    class="w-12 h-12 flex items-center justify-center bg-white rounded-full shadow-lg hover:scale-110 transition-transform"
  >
    <img
      src="https://cdn-icons-png.flaticon.com/512/724/724664.png"
      alt="call"
      class="w-8 h-8"
    />
  </a>
</div>
