<header class="bg-white shadow-md z-50">
  <div
    class="container mx-auto px-4 py-3 flex flex-col md:flex-row items-center justify-between"
  >
    <!-- Logo -->
    <div class="flex items-center mb-3 md:mb-0">
      <img
        src="/images/logo.png"
        alt="Logo Phòng khám"
        class="h-12 sm:h-16 w-auto"
      />
    </div>

    <!-- Tên phòng khám -->
    <div class="text-center mb-4 md:mb-0">
      <p class="text-xs sm:text-sm text-green-600 font-medium uppercase">
        Sở Y Tế Thành Phố Cần Thơ
      </p>
      <h1 class="text-green-700 text-2xl sm:text-3xl font-bold">
        PHÒNG KHÁM ĐÔNG Y
      </h1>
      <p class="text-xs sm:text-sm text-green-600">ORIENTAL MEDICINE CLINIC</p>
    </div>

    <!-- Số DT -->
    <button
      class="bg-[#3FC482] hover:bg-[#35a870] text-white font-semibold rounded-full flex items-center justify-center gap-x-2 px-4 py-3 sm:px-2 sm:py-3.5 w-full md:w-60 transition-all duration-300 shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[#35a870] focus:ring-offset-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-5"
      >
        <path d="M10.5 18.75a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" />
        <path
          fill-rule="evenodd"
          d="M8.625.75A3.375 3.375 0 0 0 5.25 4.125v15.75a3.375 3.375 0 0 0 3.375 3.375h6.75a3.375 3.375 0 0 0 3.375-3.375V4.125A3.375 3.375 0 0 0 15.375.75h-6.75ZM7.5 4.125C7.5 3.504 8.004 3 8.625 3H9.75v.375c0 .621.504 1.125 1.125 1.125h2.25c.621 0 1.125-.504 1.125-1.125V3h1.125c.621 0 1.125.504 1.125 1.125v15.75c0 .621-.504 1.125-1.125 1.125h-6.75A1.125 1.125 0 0 1 7.5 19.875V4.125Z"
          clip-rule="evenodd"
        />
      </svg>

      Hotline: 0989 861 548
    </button>
  </div>
</header>
