<section class="p-6 mb-4">
  <h2
    class="text-center bg-green-50 p-6 text-2xl md:text-3xl font-bold text-green-700 uppercase mb-6"
  >
    Dịch Vụ Chữa Bệnh Đông Y
  </h2>

  <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-6">
    <!-- Service 1 -->
    <div
      class="bg-white p-4 shadow-lg rounded-lg hover:shadow-xl transition-all duration-300"
    >
      <img
        src="../../assets/images/thu-dao-thang.png"
        alt="Từ Đạo Thang"
        class="w-full h-48 object-cover rounded-lg mb-4"
      />
      <h3 class="font-semibold text-xl text-center">Thủ Đạo Thang</h3>
      <p class="text-center">
        Chữa trị các chứng bệnh về đau nhức, mệt mỏi, và căng thẳng.
      </p>
    </div>

    <!-- Service 2 -->
    <div
      class="bg-white p-4 shadow-lg rounded-lg hover:shadow-xl transition-all duration-300"
    >
      <img
        src="../../assets/images/ngai-cuu-chua-benh-bluecare.png"
        alt="Cứu Ngải Nóng"
        class="w-full h-48 object-cover rounded-lg mb-4"
      />
      <h3 class="font-semibold text-xl text-center">Cứu Ngải Nóng</h3>
      <p class="text-center">
        Giúp lưu thông khí huyết, giảm đau nhức xương khớp.
      </p>
    </div>

    <!-- Service 3 -->
    <div
      class="bg-white p-4 shadow-lg rounded-lg hover:shadow-xl transition-all duration-300"
    >
      <img
        src="../../assets/images/cham-soc-mat.png"
        alt="Chăm Sóc Mặt Bằng Ngọc Thạch"
        class="w-full h-48 object-cover rounded-lg mb-4"
      />
      <h3 class="font-semibold text-xl text-center">
        Chăm Sóc Mặt Bằng Ngọc Thạch
      </h3>
      <p class="text-center">
        Dưỡng da, phục hồi sức khỏe và làm đẹp từ bên trong.
      </p>
    </div>
  </div>
</section>
