<section class="py-20 bg-[#f6fff8] mb-[20px]">
  <h2
    class="text-center bg-green-50 p-6 text-2xl md:text-3xl font-bold text-green-700 uppercase mb-6"
  >
    CHỨNG NHẬN & DƯỢC LIỆU
  </h2>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16 gap-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <!-- Card START -->
      <div
        class="group bg-white rounded-3xl shadow-lg  hover:shadow-2xl hover:border-green-600 transition-all duration-300 text-center p-6"
        data-aos="fade-up"
      >
        <div class="overflow-hidden rounded-xl mb-6">
          <img
            src="../../assets/images/giay-phep-hoat-dong.spng"
            alt="Giấy phép hoạt động"
            class="w-full h-52 object-contain mx-auto group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
        </div>
        <h3 class="text-xl font-bold text-[#1E7C46] mb-2">
          Giấy Phép Hoạt Động
        </h3>
        <p class="text-gray-600 leading-relaxed text-sm">
          Phòng khám được Sở Y Tế Thanh Hóa cấp phép, hoạt động theo đúng quy
          định pháp luật.
        </p>
      </div>
      <!-- Card END -->

      <!-- Card -->
      <div
        class="group bg-white rounded-3xl shadow-lg  hover:shadow-2xl hover:border-green-600 transition-all duration-300 text-center p-6"
        data-aos="fade-up"
      >
        <div class="overflow-hidden rounded-xl mb-6">
          <img
            src="../../assets/images/chung-chi-hanhsd-nghe.png"
            alt="Chứng chỉ hành nghề"
            class="w-full h-52 object-contain mx-auto group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
        </div>
        <h3 class="text-xl font-bold text-[#1E7C46] mb-2">
          Chứng Chỉ Hành Nghề
        </h3>
        <p class="text-gray-600 leading-relaxed text-sm">
          Đội ngũ bác sĩ, lương y đều có chứng chỉ hành nghề do Bộ Y Tế cấp và
          hơn 10 năm kinh nghiệm.
        </p>
      </div>

      <!-- Card -->
      <div
        class="group bg-white rounded-3xl shadow-lg  hover:shadow-2xl hover:border-green-600 transition-all duration-300 text-center p-6"
        data-aos="fade-up"
      >
        <div class="overflow-hidden rounded-xl mb-6">
          <img
            src="../../assets/images/ngai-cuu-chua-bdenh-bluecare.png"
            alt="Dược liệu sạch"
            class="w-full h-52 object-cover mx-auto rounded-md group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
        </div>
        <h3 class="text-xl font-bold text-[#1E7C46] mb-2">Dược Liệu Sạch</h3>
        <p class="text-gray-600 leading-relaxed text-sm">
          100% dược liệu chuẩn GACP – WHO, được nhập từ các vùng trồng dược an
          toàn và kiểm nghiệm đầy đủ.
        </p>
      </div>

      <!-- Card -->
      <div
        class="group bg-white rounded-3xl shadow-lg  hover:shadow-2xl hover:border-green-600 transition-all duration-300 text-center p-6"
        data-aos="fade-up"
      >
        <div class="overflow-hidden rounded-xl mb-6">
          <img
            src="../../assets/images/kiem-nghiem-chat-luong.png"
            alt="Kiểm nghiệm chất lượng"
            class="w-full h-52 object-contain mx-auto group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
        </div>
        <h3 class="text-xl font-bold text-[#1E7C46] mb-2">
          Kiểm Nghiệm Chất Lượng
        </h3>
        <p class="text-gray-600 leading-relaxed text-sm">
          Mỗi lô thuốc đều được kiểm nghiệm kỹ tại các phòng thí nghiệm đạt
          chuẩn quốc gia, đảm bảo an toàn cho người dùng.
        </p>
      </div>

      <!-- Card -->
      <div
        class="group bg-white rounded-3xl shadow-lg  hover:shadow-2xl hover:border-green-600 transition-all duration-300 text-center p-6"
        data-aos="fade-up"
      >
        <div class="overflow-hidden rounded-xl mb-6">
          <img
            src="../../assets/images/hop-tac-vien-y-hoc.png"
            alt="Hợp tác y học"
            class="w-full h-52 object-contain mx-auto group-hover:scale-105 transition-transform duration-500 ease-in-out"
          />
        </div>
        <h3 class="text-xl font-bold text-[#1E7C46] mb-2">
          Hợp Tác Viện Y Học
        </h3>
        <p class="text-gray-600 leading-relaxed text-sm">
          Đông Y Phục Sinh hợp tác với nhiều viện y học cổ truyền, đảm bảo cập
          nhật kỹ thuật điều trị tiên tiến nhất.
        </p>
      </div>
    </div>
  </div>
</section>
